.header {
  display: none;
}

@media screen and (max-width: 768px) {
  .header{
    display: block;
    color: white;
    background: rgba(65, 118, 196);
    letter-spacing: 1.2px;
    padding-left: 10px;
    margin: 0;
    margin-top: 2px;
    line-height: 80px;
  }
}