.container > div:nth-child(odd) {
  background: #ececec;
}

.container > div:nth-child(even) {
  background: #ddd;
}

.container > div:nth-child(3) {
  background: #ddd;
}

@media screen and (max-width: 768px) {
  .container > div:nth-child(3) {
    background: #fff;
  }
}
